/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Solway:wght@300;400;500;700;800&display=swap');



body {
    
    margin:0;
    padding: 70px 0px 0px 0px;
    background-color: #76947A;

    
}


.nav-text {
    color: black !important;
    font-size: 21px !important;
    letter-spacing: 1.5px !important;
    font-family: livvic !important;
    font-weight:400;
   
    
    
}



.cream-bg {
    background-color: #F1EEE7 !important;
}

.green-bg {
    background-color: #76947A;
}



.custom-button {
    font-family: solway !important;
    background-color: black;
    font-size: 20px;
    letter-spacing: 2px;
    color: #F1EEE7;
    border; black;
    
    
}

.tagline {
    font-size: 10vw !important;
    color: black;
    font-family: solway;
    
    font-weight: 600;
}

.no-border {
    border: 0 !important;
}


 .services {
    background-color: #76947A !important;
    text-align: center;
    
    
    

}

.services-title {
  
    font-size: 6vh !important;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-family: solway;
    
}

.custom-card-titles {
    
    font-weight: 500 !important;
    color: black;
    font-size: larger;
    font-family: livvic;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.custom-card-text {
    
    font-weight: 300!important;
    color:white;
    font-family: livvic;
    font-size: larger;
    
    
}

.about-title {
    
    font-family: solway !important;
    font-size: 6vh;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;


}

.about-text {
    color:black !important;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    font-family: livvic;
    
}








