/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Solway:wght@300;400;500;700;800&display=swap');



body {
    font-family: 'Solway', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin:0;
    padding:0;
    background-color: #76947A;

    
}


.navbar {
    background-color: #F1EEE7;
    
}

.cream-bg {
    background-color: #F1EEE7 !important;
}

.green-bg {
    background-color: #76947A;
}

.livvic-text {
    color:black !important;
    font-size: 21px !important;
    letter-spacing: 2px !important;
    font-family: livvic !important;
    
}

.custom-button {
    font-family: Livvic !important;
    background-color: #76947A;
    border: #76947A;
    font-size: 19px;
    letter-spacing: 2px;
    
}

.tagline {
    font-size: 50px !important;
}

.no-border {
    border: 0 !important;
}


 .services {
    background-color: #F1EEE7 !important;
    letter-spacing: 1.5px;

}

.sub-titles {
    text-align: center !important;


}