/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito+Sans:wght@300;600&display=swap');
body {
    
    margin:0;
    padding: 70px 0px 0px 0px;
    background-color: #76947A;
    color: black;

}


.link-effect {
    font-size: 21px !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:600;
    color: black !important;;
    line-height: 1.6;
    text-decoration: none !important;
    position: relative;
   
}

.link-effect::after {
    content: ''! important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;


}

.link-effect:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

.nav-button {
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: #F1EEE7;
    font-size: 21px;
    font-weight:600;
    color: black;
    border: #F1EEE7;
    line-height: 1.6;
    
}

.coral-bg {
    background-color:#D76865!important;
}

.cream-bg {
    background-color: #F1EEE7 !important;

}

.green-bg {
    background-color: #76947A !important;
}

.teal-bg {
    background-color: #628D7B !important;
}


.custom-button {
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: #D76865;
    font-size: 20px;
    font-weight:600;
    letter-spacing: 1px;
    color: black;
    border: #D76865;
    line-height: 1.6;
    
}

.tagline {
    font-size: 10vw !important;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1.5;
    line-height: 1.5;
    color: #F1EEE7 ;
}

.no-border {
    border: 0 !important;
}


 .services {
    background-color: #F1EEE7 !important;
    text-align: center;
    
    
    
    

}

.title-text {
  
    font-size: 6vh !important;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    line-height: 1;
  
    
}


.custom-card-titles {
    
    font-size: 3.5vh !important;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1.5px;
    line-height: 1;
    
    
}


    
    


.custom-card-border {
    border-bottom-left-radius: calc(0.25rem - 1px) !important;
    border-bottom-right-radius: calc(0.25rem - 1px);

}



.custom-text {
    font-size: 2.75vh !important;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    
}

.pre-button-text {
    font-size: 3.5vh !important;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1;

}

.p-margin {
    margin-top: 30px;

}

.form-text {
    font-size: 18px !important;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    
}


.curved-border {
    border-radius: calc(0.25rem - 1px) !important;
}

.custom-submit-button {
    background-color:#76947A !important;
    border-color:#76947A;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    line-height: 1;
}



